<div class="tab-pane fade show first-batch-tab active" id="now-1" role="tabpanel" aria-labelledby="now-1-tab">
    <div class="search-inputs row mt-4">
        <div class="col-md-6 col-xs-12">
            <input type="search" placeholder="ðŸ’¼ Zoek op bedrijfsnaam" aria-label="ðŸ’¼ Zoek op bedrijfsnaam" class="form-control search-company mb-3">
        </div>
        <div class="col-md-6 col-xs-12">
            <input type="search" placeholder="ðŸ™ï¸ Zoek op vestigingsplaats" aria-label="ðŸ™ï¸ Zoek op vestigingsplaats" class="form-control search-place mb-3">
        </div>
    </div>

    <div id="first-batch-grid"></div>

    <div class="nowi-grid-totals row mt-2">
        <div class="col-12 col-md-6 mb-2 mb-md-0">
            <div class="nowi-grid-total card">
                <div class="nowi-grid-total__body card-body">
                    <span class="nowi-grid-total__content">
                        <strong>Totaal: </strong><span class="first-batch-grid-total"></span>
                    </span>
                    <span class="nowi-grid-total__loader">
                        <i class="fas fa-spinner fa-pulse"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="nowi-grid-total card">
                <div class="nowi-grid-total__body card-body">
                    <span class="nowi-grid-total__content">
                        <strong>Gemiddelde: </strong><span class="first-batch-grid-average"></span>
                    </span>
                    <span class="nowi-grid-total__loader">
                        <i class="fas fa-spinner fa-pulse"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>