.navbar-brand {
    margin: 0;
    font-size: 30px;
    width: 100%;
    text-align: center;
}

.gridjs-wrapper {
    border: 1px solid rgba(0,0,0,.125);
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
    font-size: 14px;
}

.gridjs-wrapper th.gridjs-th {
    background-color: rgba(0,0,0,.03) !important;
}

.card-header {
    padding: 8px;
}

.total-card .card-body {
    padding: 12px 24px;
}

footer li {
    margin-bottom: 4px;
}

.total-card-content {
    display: none;
}

.grid-totals .card-body {
    padding: 8px;
    text-align: center;
}

.grid-totals .grid-total-content {
    display: none;
}

@media (max-width: 576px) {
    .header h1 {
        font-size: 3rem;
    }

    .header .lead {
        font-size: 16px;
        font-weight: unset;
    }

    .nav-item.nav-link {
        padding: 8px;
    }

    .gridjs-pagination .gridjs-pages {
        float: left;
        font-size: 10px;
        margin-top: 10px;
    }

    .gridjs-pages .gridjs-spread {
        display: none;
    }

    .gridjs-footer {
        padding: 12px;
    }

    .gridjs-summary {
        margin-top: 0 !important;
    }

    .card-header h4 {
        font-size: 1.3rem;
    }
}