@import '~bootstrap/scss/bootstrap';
@import '~gridjs/dist/theme/mermaid.css';

.nowi {
    .nowi-card .nowi-card__header {
        padding: 8px;
    }

    .nowi-title .nowi-title__brand {
        margin: 0;
        font-size: 30px;
        width: 100%;
        text-align: center;
    }

    .nowi-footer .nowi-footer-list .nowi-footer-list__link {
        margin-bottom: 4px;
    }

    .nowi-grid-totals .nowi-grid-total {
        .nowi-grid-total__body {
            padding: 8px;
            text-align: center;

            .nowi-grid-total__content {
                display: none;
            }
        }
    }

    .nowi-promo {
        text-align: center;

        &.nowi-promo__bottom {
            margin-top: 1.5rem;
        }

        .nowi-promo__body {
            padding: 1rem;
        }

        .nowi-promo--contact {
            font-size: 18px;
            font-weight: bold;
            margin-top: 0.75rem;
            display: block;

            a {
                color: #fff;
            }
        }
    }

    @media (max-width: 576px) {
        .nowi-header {
            .nowi-header__title {
                font-size: 3rem;
            }

            .nowi-header__lead {
                font-size: 16px;
                font-weight: unset;
            }
        }

        .nowi-nav .nowi-nav__item {
            padding: 8px;
        }

        .nowi-card .nowi-card__header .nowi-card__header-content {
            font-size: 1.3rem;
        }
    }
}

.gridjs {
    .gridjs-wrapper {
        border: 1px solid rgba(0,0,0,.125);
        box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
        font-size: 14px;

        th.gridjs-th {
            background-color: rgba(0,0,0,.03) !important;
        }

        td.gridjs-td {
            padding: 6px 12px;
        }
    }

    @media (max-width: 576px) {
        .gridjs-footer {
            padding: 12px;

            .gridjs-pagination {
                .gridjs-summary {
                    margin-top: 0 !important;
                }

                .gridjs-pages {
                    float: left;
                    font-size: 10px;
                    margin-top: 10px;

                    .gridjs-spread {
                        display: none;
                    }
                }
            }
        }
    }
}
