{% extends 'base.html.twig' %}

{% block body %}
    <div class="nowi-modal modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content nowi-modal__content"></div>
        </div>
    </div>

    <div class="nowi container">

        <nav class="nowi-title navbar navbar-expand-lg navbar-light bg-light rounded mt-4">
            <h1 class="nowi-title__brand navbar-brand">Waar is de NOW?</h1>
        </nav>

        <div class="nowi-header header px-3 my-4 mx-auto text-center">
            <h1 class="nowi-header__title display-4 mb-3">NOW Regeling Inzichtelijk</h1>
            <p class="nowi-header__lead lead mb-0">
                De tijdelijke Noodmaatregel Overbrugging Werkgelegenheid (NOW) is een subsidie die uit publiek geld wordt betaald.
                Naar welke bedrijven is deze subsidie toegegaan?
                Na afloop van alle aanvraagperiodes en de definitieve berekening zal hier het verschil in subsidie getoond worden en zal het dus inzichtelijk worden welke bedrijven potentieel misbruik hebben gemaakt van deze regeling.
            </p>
        </div>

        <hr>

        <div class="row mt-4 text-center">
            <div class="col-md-4 col-xs-12">
                <div class="nowi-card card mb-3 mb-md-0 shadow-sm">
                    <div class="nowi-card__header card-header">
                        <h4 class="nowi-card__header-content my-0 font-weight-normal">Totaal toegekend</h4>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title mb-0">
                            € 21.547.726.899
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="nowi-card card mb-3 mb-md-0 shadow-sm">
                    <div class="nowi-card__header card-header">
                        <h4 class="nowi-card__header-content my-0 font-weight-normal">Aantal toekenningen</h4>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title mb-0">
                            468.253
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="nowi-card card shadow-sm">
                    <div class="nowi-card__header card-header">
                        <h4 class="nowi-card__header-content my-0 font-weight-normal">Gemiddelde toekenning</h4>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title mb-0">
                            € 129.642
                        </h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-3 col-xs-12 mt-4">
                <div class="nowi-card card mb-3 mb-md-0 shadow-sm">
                    <div class="card-body p-1">
                        NOW Regeling 1 ✅ <br>
                        <small>
                            <a href="https://www.uwv.nl/overuwv/pers/documenten/2022/register-eerste-aanvraagperiode-now.aspx" target="_blank" rel="noreferrer">
                                23-06-2022
                            </a>
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 mt-4">
                <div class="nowi-card card mb-3 mb-md-0 shadow-sm">
                    <div class="card-body p-1">
                        NOW Regeling 2 ⌛ <br>
                        <small>
                            <a href="https://www.uwv.nl/overuwv/pers/documenten/2020/register-tweede-aanvraagperiode-now.aspx" target="_blank" rel="noreferrer">
                                18-11-2020
                            </a>
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 mt-4">
                <div class="nowi-card card mb-3 mb-md-0 shadow-sm">
                    <div class="card-body p-1">
                        NOW Regeling 3 ❌ <br>
                        <small>
                            <a href="https://www.uwv.nl/overuwv/pers/documenten/2021/register-derde-aanvraagperiode-now.aspx" target="_blank" rel="noreferrer">
                                22-02-2021
                            </a>
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 mt-4">
                <div class="nowi-card card mb-3 mb-md-0 shadow-sm">
                    <div class="card-body p-1">
                        NOW Regeling 4 ❌ <br>
                        <small>
                            <a href="https://www.uwv.nl/overuwv/pers/documenten/2021/register-vierde-aanvraagperiode-now.aspx" target="_blank" rel="noreferrer">
                                22-06-2021
                            </a>
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 mt-4">
                <div class="nowi-card card mb-3 mb-md-0 shadow-sm">
                    <div class="card-body p-1">
                        NOW Regeling 5 ❌ <br>
                        <small>
                            <a href="https://www.uwv.nl/overuwv/pers/documenten/2021/register-vijfde-aanvraagperiode-now.aspx" target="_blank" rel="noreferrer">
                                05-11-2021
                            </a>
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 mt-4">
                <div class="nowi-card card mb-3 mb-md-0 shadow-sm">
                    <div class="card-body p-1">
                        NOW Regeling 6 ❌ <br>
                        <small>
                            <a href="https://www.uwv.nl/overuwv/pers/documenten/2022/register-zesde-aanvraagperiode-now.aspx" target="_blank" rel="noreferrer">
                                02-03-2022
                            </a>
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 mt-4">
                <div class="nowi-card card mb-3 mb-md-0 shadow-sm">
                    <div class="card-body p-1">
                        NOW Regeling 7 ❌ <br>
                        <small>
                            <a href="https://www.uwv.nl/overuwv/pers/documenten/2022/register-zevende-aanvraagperiode-now.aspx" target="_blank" rel="noreferrer">
                                14-07-2022
                            </a>
                        </small>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="search-inputs row mt-4">
            <div class="col-md-6 col-xs-12">
                <input type="search" placeholder="💼 Zoek op bedrijfsnaam" aria-label="💼 Zoek op bedrijfsnaam" class="form-control search-company mb-3">
            </div>
            <div class="col-md-6 col-xs-12">
                <input type="search" placeholder="🏙️ Zoek op vestigingsplaats" aria-label="🏙️ Zoek op vestigingsplaats" class="form-control search-place mb-3">
            </div>
        </div>

        <div id="grid"></div>

        <div class="nowi-grid-totals row mt-2">
            <div class="col-12 col-md-6 mb-2 mb-md-0">
                <div class="nowi-grid-total card">
                    <div class="nowi-grid-total__body card-body">
                    <span class="nowi-grid-total__content">
                        <strong>Totaal: </strong><span class="grid-total"></span>
                    </span>
                        <span class="nowi-grid-total__loader">
                        <i class="fas fa-spinner fa-pulse"></i>
                    </span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="nowi-grid-total card">
                    <div class="nowi-grid-total__body card-body">
                    <span class="nowi-grid-total__content">
                        <strong>Gemiddelde: </strong><span class="grid-average"></span>
                    </span>
                        <span class="nowi-grid-total__loader">
                        <i class="fas fa-spinner fa-pulse"></i>
                    </span>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <section class="accordion-section clearfix mb-4 mt-4" aria-label="Question Accordions">
            <div id="accordion">
                <div class="nowi-card card mb-3">
                    <div class="nowi-card__header card-header" id="faq-1-heading">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#faq-1" aria-expanded="true" aria-controls="faq-1">
                                Waarom deze website?
                            </button>
                        </h5>
                    </div>

                    <div id="faq-1" class="collapse show" aria-labelledby="faq-1-heading" data-parent="#accordion">
                        <div class="card-body">
                            Op verzoek van het ministerie van Sociale Zaken en Werkgelegenheid (SZW) publiceert UWV een register
                            NOW. Hierin staan gegevens van bedrijven die in de eerste aanvraagperiode NOW een voorschot op de
                            tegemoetkoming hebben ontvangen.
                            <br><br>
                            Dit is geen officiele website maar een hobby project om de data van het UWV beter inzichtelijk te maken.
                            Na afloop van alle aanvraagperiodes en de definitieve berekening zal hier het verschil in subsidie getoond worden en zal het dus inzichtelijk worden welke bedrijven potentieel misbruik hebben gemaakt van deze regeling.
                        </div>
                    </div>
                </div>
                <div class="nowi-card card mb-3">
                    <div class="nowi-card__header card-header" id="faq-2-heading">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#faq-2" aria-expanded="false" aria-controls="faq-2">
                                Welke gegevens staan in het register NOW?
                            </button>
                        </h5>
                    </div>
                    <div id="faq-2" class="collapse" aria-labelledby="faq-2-heading" data-parent="#accordion">
                        <div class="card-body">
                            Van de bedrijven die in de eerste aanvraagperiode NOW hebben ontvangen, staan op verzoek van het ministerie van
                            SZW in het register de volgende gegevens:

                            <br><br>
                            <ul>
                                <li>De bedrijfsnaam.</li>
                                <li>De vestigingsplaats</li>
                                <li>Het verstrekte voorschotbedrag</li>
                            </ul>
                            Het register is een momentopname. Het is mogelijk dat werkgevers de gedane NOW-aanvraag alsnog willen
                            intrekken. Na terugbetaling van het volledige voorschot zal het register, bij een volgende periodieke update,
                            worden aangepast.
                            <br><br>
                            Omdat op dit moment alleen de voorschotbedragen in het register staan, kunnen hier dus nog geen rechten
                            aan ontleend worden. Het register zal op een later tijdstip aangevuld worden met de definitieve bedragen. De
                            definitieve bedragen kunnen afwijkend zijn van voorschotbedragen. Na afloop alle aanvraagperiodes
                            NOW zal UWV eenzelfde register publiceren.
                        </div>
                    </div>
                </div>
                <div class="nowi-card card">
                    <div class="nowi-card__header card-header" id="faq-3-heading">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#faq-3" aria-expanded="false" aria-controls="faq-3">
                                Is dit een officiële (overheids) website?
                            </button>
                        </h5>
                    </div>
                    <div id="faq-3" class="collapse" aria-labelledby="faq-3-heading" data-parent="#accordion">
                        <div class="card-body">
                            Nee, dit is een hobby project gebaseerd op de <a href="https://www.uwv.nl/overuwv/pers/persberichten/index.aspx" target="_blank" rel="noreferrer">data vrijgegeven door het UWV</a>.
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <hr>

        <footer class="nowi-footer pb-4">
            <a href="https://www.buymeacoffee.com/ansien" target="_blank" rel="noreferrer" class="btn btn-success float-right d-none d-lg-block">Doneer een biertje 🍺</a>
            <a href="https://www.buymeacoffee.com/ansien" target="_blank" rel="noreferrer" class="btn btn-success btn-sm float-right d-lg-none">Doneer een biertje 🍺</a>
            <h5 class="mb-3">Links</h5>
            <ul class="nowi-footer-list list-unstyled text-small">
                <li class="nowi-footer-list__link"><a class="text-muted" href="https://twitter.com/share?text=Welke%20bedrijven%20hebben%20NOW%20noodsteun%20ontvangen%3F%20Zie%3A%20&url=https://now-inzichtelijk.nl" target="_blank" rel="noreferrer">Deel op Twitter 🔗</a></li>
                <li class="nowi-footer-list__link"><a class="text-muted" href="https://github.com/ansien/now-inzichtelijk" target="_blank" rel="noreferrer">GitHub ‍🔧</a></li>
            </ul>
        </footer>
    </div>
{% endblock %}
